<template>
  <v-container>
    <v-row class="mt-5">
      <v-col cols="12" justify="center" class="mt-5">
        <h3 class="title">Sign in</h3>
        <v-card>
          <v-card-text>
            <v-form @submit.prevent="OnSignup">
              <v-row>
                <v-text-field
                  name="email"
                  label="example@gmail.com"
                  id="email"
                  v-model="email"
                  type="email"
                  required
                ></v-text-field>
              </v-row>
              <v-row>
                <v-text-field
                  name="password"
                  label="password"
                  id="password"
                  v-model="password"
                  type="password"
                  required
                ></v-text-field>
              </v-row>
              <v-btn dark style="background-color: #e09430" type="submit"
                >Sign in</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    onSignup() {
      this.$store.dispatch("signUserUp", {
        email: this.email,
        password: this.password,
      });
    },
  },
};
</script>

<style></style>
